/* stylelint-disable selector-list-comma-newline-after */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Proxima+Nova:wght@400;700&display=swap');



.blog-header {
  border-bottom: 1px solid #e5e5e5;
}



.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif
    /*rtl:Amiri, Georgia, "Times New Roman", serif*/
  ;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}



.display-4 {
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}

@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
   * Blog posts
   */
.blog-post {
  margin-bottom: 4rem;
}

.blog-post-title {
  font-size: 2.5rem;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
   * Footer
   */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
  margin-bottom: 0;
}


h2 {
  color: rgb(0, 76, 155);
  font-weight: 600;
  font-family: "Proxima Nova", sans-serif;
}

.collapse-contentt {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

p {
  font-size: 19px;
  line-height: 1.7em;
  font-family: 'Inter', sans-serif;

}

li {
  font-size: 19px;
  line-height: 1.7em;
  font-family: 'Inter', sans-serif;
}

.banner-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%), url("./images/ke05-banner1.png");
  height: 405px;
  background-size: cover;
  background-position: center;
}

.banner-image>div>* {
  color: white;
  /* text-shadow: 1px 1px 1px #000; */

  font-family: "Open Sans";
}

.intro {
  background-color: rgba(59, 130, 246, .3);
  padding: 2rem;
  border-radius: 6px;
}

/* body {
  background-color: rgba(242, 233, 231, 255);
} */


.red-box {
  background: #FFF0F3;
  border-color: #FFB3C0;
  border-style: solid;
  border-width: 0px 0px 0px 15px;
  /* color: #ffffff; */
  border-radius: 5px;

  padding: 15px;

}

.blue-box {
  background: #FAFAFF;
  border-color: #B4B3FF;
  border-style: solid;
  border-width: 0px 0px 0px 15px;
  /* color: #ffffff; */
  border-radius: 5px;

  padding: 15px;

}

.yellow-box {
  background: #FFF6EE;
  border-color: #FFC48B;
  border-style: solid;
  border-width: 0px 0px 0px 15px;
  /* color: #ffffff; */
  border-radius: 5px;

  padding: 15px;

}

.green-box {
  background: #F2FFFF;
  border-color: #B3E5CC;
  border-style: solid;
  border-width: 0px 0px 0px 15px;
  /* color: #ffffff; */
  border-radius: 5px;

  padding: 15px;

}

.space-appart {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

h3 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
}

.equation {
  font-size: 1rem;
  word-wrap: break-word;
}

ol {
  list-style-type: none;
  padding-left: 0;
}